
@font-face {
    font-family: 'SFPro';
    src: url('../assets/fonts/SF-Pro-Text-Regular.otf');
}

@font-face {
    font-family: 'SFPro';
    src: url('../assets/fonts/SF-Pro-Text-SemiBold.otf');
    font-weight: bold;
}
